.Project {

    display: flex;
    flex-direction: column;
    width: 100%;
    width: -moz-available;   /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;
    height: 50vh;
    padding-top: 5rem;
    box-shadow: 2px 2px 4px #000000;

    //padding-top: 5rem;

    .project-panel{
        display: flex;
        flex-direction: row;
        box-shadow: 2px 2px 4px #000000;
        padding: 1rem;
        border-radius: 2rem;
        //background-color: #6A2EEB;

    }
    .project-panel-ctnt{
        display: flex;
        flex-direction: column;
    }

}