.Bio {
    display: flex;
    flex-direction: row;
    padding-top: 5rem;
    height: 100vh;
    
    .bio-content{
        padding: 0.5rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    .bio-pic{

    }

    .bio-pic-content{
        //box-shadow:  2px 2px 4px #000000;
        border: 0.3rem solid #9166ED;
        border-radius: 50%;
        height:40vmin;
        width: 40vmin;
        transition: 0.2s;
 
    
    }

    img{
        border-radius: 50%;
        height:40vmin;
        width: 40vmin;
        transition: 0.2s;
    }

    //img:hover,
    .bio-pic-content:hover{
        height:calc(40vmin + 5rem);
        width: calc(40vmin + 5rem);
        box-shadow:  2px 2px 4px #000000;

        img{
            height:calc(40vmin + 5rem);
            width: calc(40vmin + 5rem);

        }
    }

    .bio-text{        
    }
    
    .bio-text-content{
        box-shadow:  2px 2px 4px #000000;
        padding: 1rem;
        p{
            line-height: 1.5;
        }
        border-radius: 2rem;
    }

    .bio-text-btn{
        display: flex;
        justify-content: center;
        column-gap: 3rem;
        //width: 100%;
    }

    .bio-btn-content{
        //padding: 0.4rem;
        //background-color: #6A2EEB;
        //border:#9166ED 2px solid;
        color: #9166ED;
        //border-radius: 0.6rem;
        //text-decoration: none;
        transition: 0.2s;
        //width: 80%;
    }
    .bio-btn-content:hover{
        //background-color: #9166ED;
        text-shadow:  1px 1px 2px #9166ED;
        color:#9166ED;        
        //box-shadow:  1px 1px 2px #9166ED;
        //padding: 1rem;
    }

    .bio-text-reachout{
        text-decoration: none;
        color:#9166ED;
        transition: 0.2s;
        text-shadow:  1px 1px 2px #9166ED;
    }
    .bio-text-reachout:hover{
        color:#9166ED;
    }

}


        /* Media query for tablet screens (768px to 1023px wide) */
@media screen and (max-width: 1023px) {
    .Bio {
    /* font-size: 18px; */
        height:80vh;
        flex-direction: column;
    }
}

@media screen and (min-width: 1024px) {
    .Bio{
        padding: 2rem;
        column-gap: 5rem;
    }
    .bio-text{
        
    }
  }