.CourseCard {
    //border: solid 3px #9166ED;
    //background-color: #FFFFFF;
    border-radius: 1.2rem; 
    //min-width: fit-content;
    //max-width: fit-content;
    display: flex;
    flex-direction: column;
    padding-left: 0.5rem;
    padding-right: 0.5rem;


    .course-header{
        //border-bottom: solid 3px #6A2EEB;
        box-shadow:  3px 2px 4px #000000;
        background-color: #6A2EEB;
        color: #FFFFFF;
        border-radius: 0.8rem; 
        height: 5rem;
        justify-content: center;
        align-items: center;
        display: flex;
        padding: 1rem;
        text-decoration: none;
        //align-items: ;
        //max-lines: 2;

    }

    .course-header:hover{
        text-shadow:  1px 1px 2px #FFFFFF;
        //color:#9166ED;
    }

    .course-info{
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .course-desc{
        font-size: calc(10px + 0.8vmin);
        height: 100%;
        padding: 0rem 1rem;
        p { 
            //max-lines: 3;
            display: -webkit-box;
            -webkit-line-clamp: 8;
            -webkit-box-orient: vertical;
            color: #6A2EEB;
            text-align: center;
            //white-space: nowrap;
            overflow:hidden;
            //text-overflow: ellipsis;
        }
    }

    .course-link{
        background-color: #9166ED;
        border-top: solid 3px #9166ED;
        color: #6A2EEB;
        border-bottom-right-radius: 0.8rem; 
        border-bottom-left-radius: 0.8rem; 

    }

    .course-link-content {
        text-decoration: none;
        color: #6A2EEB;
    }

    .course-link-content:hover{
        color: #FFFFFF;
    }



}

@media screen and (min-width: 1024px) {
    .CourseCard{
        //padding-top: 0rem;
        min-width: fit-content;
        max-width: fit-content;
        //box-shadow:  3px 2px 4px #000000;

        .course-desc{
            font-size: calc(10px + 0.8vmin);
            //height: 20vh;
            //padding: 0rem 1rem;
            p { 
                //max-lines: 3;
                display: -webkit-box;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
                text-align: center;
                //white-space: nowrap;
                overflow:hidden;

                //text-overflow: ellipsis;
            }
        }
    }
  }