.CourseCard {
    border: solid 3px #9166ED;
    background-color: #FFFFFF;
    border-radius: 1.2rem; 
    min-width: 20rem;
    max-width: 20rem;
    //max-width: calc(50% - 5rem);


    .course-header{
        border-bottom: solid 3px #9166ED;
        background-color: #9166ED;
        color: #6A2EEB;
        border-top-right-radius: 0.8rem; 
        border-top-left-radius: 0.8rem;
        height: 2.5rem;
        justify-content: center;
        align-items: center;
        display: flex;
        padding: 0.5rem;
        //align-items: ;
        //max-lines: 1;

    }

    .course-desc{
        font-size: calc(10px + 0.8vmin);
        //height: 20vh;
        padding: 0rem 1rem;
        p { 
            //max-lines: 3;
            display: -webkit-box;
            -webkit-line-clamp: 8;
            -webkit-box-orient: vertical;
            color: #6A2EEB;
            text-align: center;
            //white-space: nowrap;
            overflow:hidden;
            //text-overflow: ellipsis;
        }
    }

    .course-link{
        background-color: #9166ED;
        border-top: solid 3px #9166ED;
        color: #6A2EEB;
        border-bottom-right-radius: 0.8rem; 
        border-bottom-left-radius: 0.8rem; 

    }

    .course-link-content {
        text-decoration: none;
        color: #6A2EEB;
    }

    .course-link-content:hover{
        color: #FFFFFF;
    }

}

@media screen and (min-width: 1024px) {
    .CourseCard{
        //padding-top: 0rem;
        min-width: 40rem;
        max-width: 40rem;

        .course-desc{
            font-size: calc(10px + 0.8vmin);
            //height: 20vh;
            padding: 0rem 1rem;
            p { 
                //max-lines: 3;
                display: -webkit-box;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
                text-align: center;
                //white-space: nowrap;
                overflow:hidden;
                //text-overflow: ellipsis;
            }
        }
    }
  }