.CourseList {
    // white-space: nowrap; 

    display: flex;
    flex-direction: column;
    column-gap: 2rem;
    overflow-x: auto; 
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overflow-x: scroll;
    scrollbar-color: #9166ED;
    padding-bottom: 1rem;
    padding-top: 1rem;
    //border-top: 2px solid #9166ED ;

    .courseList-content{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 0.5rem;
    }

    ::-webkit-scrollbar {
        display: none; 
    }

    ul {
        list-style-type: none;
    }
    li {
        display: inline;
    }
}