.Contact {
    display: flex;
    flex-direction: column;
    width: 120%;
    width: -moz-available;   /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;
    padding: 2rem;
    row-gap: 2rem;
    height: fit-content;
    min-height: 65vh;
    padding-top: 5rem;
    text-shadow: 2px 2px 4px #000000;
    //box-shadow: 2px 2px 4px #000000;

    .contact-content{
        //padding: 1rem;
        // display: inline-flex;
        // flex-direction: row;
    }

    .contact-header{
    
    }
    .contact-header-content{
        color: #6A2EEB;
        font-size: calc(10px + 4vmin);
        text-shadow: 2px 2px 4px #000000;
    }
    .contact-link{
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
    }

    .contact-link-content{
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        column-gap: 2rem;
        transition: 0.2s;
    }

    .contact-link-pic{
        border: 0.3rem solid #9166ED;
        border-radius: 50%;
        height:10vmin;
        width: 10vmin;
    }

    img{
        border-radius: 50%;
        height:10vmin;
        width: 10vmin;
    }

    .contact-link-text{
        color: #6A2EEB;
        font-size: calc(10px + 3vmin);
        text-decoration: none;
    }

    .contact-link-content:hover{
        //background-color: #9166ED;
        text-shadow: 2px 2px 4px #9166ED;
        padding: 1rem;
        border-radius: 2rem;
        box-shadow: 2px 2px 4px #000000;
    }
    
}


    /* MOBILE*/
    @media screen and (max-width: 1023px) {
        .Contact {
        /* font-size: 18px; */
            height: 40vh;
        }
    }

    //DESKTOP
    @media screen and (min-width: 1024px) {
        .Contact{
            padding-top: 10rem;
        }
        .contact-link{
            padding-left: 8rem;
        }
    }
    