.AcademicCourse {
    display: flex;
    flex-direction: column;
    width: 100%;
    width: -moz-available;   /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;
    row-gap: 1rem;
    height: 80vh;
    padding: 1rem;
    padding-top: 5rem;

    .academic-header-content{
        color: #6A2EEB;
        font-size: calc(10px + 4vmin);
    }

    .academic-courses{
        display: inline-flex;
        flex-direction: column;
        row-gap: 1rem
    }
    .academic-courses-content{
        display: flex;
        flex-direction: column;
        color: #9166ED;
    }

    .academic-courses-header{
        //background-color: #6A2EEB;
        //border-radius: 8px;
    }

    img{
        width: 1rem;
    }

    img.selected{
        transform: rotate(180deg);
    }
}