.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-Content {
  min-height: 100vh;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #1E1E1E;
  padding: 0.5rem 2rem 0rem;
}

.App-link {
  color: #61dafb;
}

/* Media query for mobile screens (up to 767px wide) */
@media screen and (max-width: 767px) {
  .App-Content {
    font-size: 14px;
    padding: 8px;
  }
}

/* Media query for tablet screens (768px to 1023px wide) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .App-Content {
    font-size: 18px;
    padding: 12px;
  }
}

/* Media query for desktop screens (1024px and wider) */
@media screen and (min-width: 1024px) {
  .App-Content {
    font-size: 20px;
    padding: 14px;
  }
}
